<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hassan.quran">
     <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplachActivity"
           android:theme="@style/Theme.Design.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Recycle"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".Home"
            android:theme="@style/Theme.Design.NoActionBar"
           ></activity>
           <activity android:name=".Suracontent"
               android:theme="@style/Theme.Design.NoActionBar"></activity>
          <activity android:name=".Ahadiscontent"

              android:theme="@style/Theme.Design.NoActionBar"></activity>



    </application>

</manifest>